*
{
    padding: 0;
    margin: 0;
}
nav h2
{
    font-size: xxx-large;
}
#player_nm
{
    height: 8vw;
}
td
{
    border: 1px solid red;
}
table td input
{
    outline: no;
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    height: 8rem;
    width: 8rem;
    background-color:chocolate;
    color:darkslategrey ;
    border: none;
}
button
{
    width: 10em;
    height: fit-content;
    border: 1px solid white ;
    background-color: orangered;
    color: gold;
}

